#botao1 {
    -fx-pref-width: 100;
    -fx-pref-height: 30;
    -fx-background-color: #555555, #2f4b8f,
    linear-gradient(#666666, #555555),
    linear-gradient(#666666, #555555);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
#botao1:hover {
    -fx-background-color: #1c1c1c, #2f4b8f,
    linear-gradient(#666666, #555555),
    linear-gradient(#666666, #555555);
}
#botao2 {
    -fx-pref-width: 100;
    -fx-pref-height: 30;
    -fx-background-color: #555555, #2f4b8f,
    linear-gradient(#666666, #555555),
    linear-gradient(#666666, #555555);;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
#botao2:hover {
    -fx-background-color: #1c1c1c, #2f4b8f,
    linear-gradient(#666666, #555555),
    linear-gradient(#666666, #555555);
}
#botao3 {
    -fx-pref-width: 100;
    -fx-pref-height: 30;
    -fx-background-color: #555555, #2f4b8f,
    linear-gradient(#666666, #555555),
    linear-gradient(#666666, #555555);;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
#botao3:hover {
    -fx-background-color: #1c1c1c, #2f4b8f,
    linear-gradient(#666666, #555555),
    linear-gradient(#666666, #555555);
}
#botao4 {
    -fx-pref-width: 100;
    -fx-pref-height: 30;
    -fx-background-color: #555555, #2f4b8f,
    linear-gradient(#666666, #555555),
    linear-gradient(#666666, #555555);;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
#botao4:hover {
    -fx-background-color: #1c1c1c, #2f4b8f,
    linear-gradient(#666666, #555555),
    linear-gradient(#666666, #555555);
}
#botao5 {
     -fx-pref-width: 100;
     -fx-pref-height: 30;
     -fx-background-color: #555555, #2f4b8f,
     linear-gradient(#666666, #555555),
     linear-gradient(#666666, #555555);;
     -fx-background-insets: 0,1,2,3;
     -fx-background-radius: 3,2,2,2;
     -fx-text-fill: white;
     -fx-cursor: hand;
 }
#botao5:hover {
    -fx-background-color: #1c1c1c, #2f4b8f,
    linear-gradient(#666666, #555555),
    linear-gradient(#666666, #555555);
}
#botaoAdd2 {
    -fx-pref-width: 100;
    -fx-pref-height: 30;
    -fx-background-color: #555555, #2f4b8f,
    linear-gradient(#666666, #555555),
    linear-gradient(#666666, #555555);;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
#botaoAdd2:hover {
    -fx-background-color: #1c1c1c, #2f4b8f,
    linear-gradient(#666666, #555555),
    linear-gradient(#666666, #555555);
}
#background {
    -fx-background-color: #edd964;
}
#box {
    -fx-background-color: #9342f5;
    -fx-border-width: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0.0, 10, 10);
}
#titulo {
    -fx-alignment: center;
    -fx-text-alignment: center;
}
#labelinfo {
    -fx-text-alignment: center;
    -fx-text-fill: white;
}
#labelinfo2 {
    -fx-text-alignment: center;
    -fx-text-fill: white;
}
#labelinfo3 {
    -fx-text-alignment: center;
    -fx-text-fill: white;
}
#labelinfo4 {
    -fx-text-alignment: center;
    -fx-text-fill: white;
}
#labelinfo5 {
    -fx-text-alignment: center;
    -fx-text-fill: white;
}
#labelinfo6 {
    -fx-text-alignment: center;
    -fx-text-fill: white;
}
#labelinfo7 {
    -fx-text-alignment: center;
    -fx-text-fill: white;
}
#labelinfo8 {
    -fx-text-alignment: center;
    -fx-text-fill: white;
}
#labelinfo9 {
    -fx-text-alignment: center;
    -fx-text-fill: white;
}
#labelinfoAdd {
    -fx-text-alignment: center;
    -fx-text-fill: white;
}
#labelinfoAdd2 {
    -fx-text-alignment: center;
    -fx-text-fill: white;
}
#labelinfoAdd3 {
    -fx-text-alignment: center;
    -fx-text-fill: white;
}
#labelinfoAdd4 {
    -fx-text-alignment: center;
    -fx-text-fill: white;
}
#RadioCorrente {
    -fx-text-fill: white;
}
#RadioPoupanca {
     -fx-text-fill: white;
 }